.wrap{
    background-color:#C0C0C0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.nav{
    width: 17em;
    height: 18em;
    background-color:#aaaaaa;
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article1{
    background-color: #969494;
    margin-bottom: .2em;
}

img{
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

.footer{
    background-color: #969494;
}